@font-face { font-family: TE20L; src: url(./fonts/TE20L.woff);}
@font-face { font-family: TE20T; src: url(./fonts/TE20T.woff);}
@font-face { font-family: TE40L; src: url(./fonts/TE40L.woff);}

:root {
    --main-bg-color: #fff;
    --bold-text-color: #000;
    --normal-text-color: #303030;
    --accent-color: #c0c0c0;
    --massive-font-size: 100px;
    --small-font-size:14px;
    --red:#f57676;
    --green:#439A86;
    --yellow:#e2c652;
    --blue:#007991;
}

body{
    background-color: var(--main-bg-color);
    color: var(--normal-text-color);
    font-size: 18px;
    line-height: 28px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: cardo, georgia, serif;
    font-weight: 400;

    height: 100%;

    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr 60px;
    
    grid-template-areas: 
        "header main "
        "footer footer";
    grid-gap: .75em;
}

pre{
    margin-bottom: -25px;
    margin-top: -25px;
    line-height: 20px;
}

code{
    font-size: 14px;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--bold-text-color);
    font-family: TE20L, helvetica, arial, sans-serif;
    font-weight: 400;
}

a {
    border-bottom: 1px solid var(--normal-text-color);
    color: var(--normal-text-color);
    text-decoration: none;
}

.red{
    border-left-color: var(--red);
}

.green{
    border-left-color: var(--green);
}

.yellow{
    border-left-color: var(--yellow);
}

.blue{
    border-left-color: var(--blue);
}

/* ----------  HEADER ---------------- */
header{
    grid-area: header;
    margin-left: 10px;
    text-transform: lowercase;
}

header h1 small{
    display: block;
    font-size: 13px;
    padding-left: 3px;
}

header a{
    color: var(--bold-text-color);
    text-decoration: none;
    border-bottom: none;
    font-family: TE20T;
}

nav ul{
    list-style-type: none;
    padding-left: 5px;
}

nav ul li{
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 10px;
    margin-bottom: 5px;
}

/* ----------  MAIN ---------------- */
main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

footer ul.contact{
    list-style: none;
    position: fixed;
    bottom: 0px;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 15px;
}

footer ul.contact li{
    display: inline;
    padding-left: 7px;
}

footer ul.contact a{
    border: none;
}

footer ul.contact img{
    width : 18px;
}

/* ----------  HOME ---------------- */

section.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
section.articles article:first-child{
    width: 100%;
}

section.articles article:not(:first-child){
    flex: 1 1 29%;
}

section.articles article{
    margin: 10px 20px 10px 0px;
    background-color: #f9f9f9;
}

section.articles article h1 a,
section.articles article p,
section.articles article footer{
    margin-left: 10px;
    margin-right: 10px;
}

section.articles article footer{
    margin-bottom: 10px;
}

/* ----------  ARTICLE ---------------- */

article h1{
    background-color: var(--normal-text-color);
    padding: 8px;
    border-left-width: 4px;
    border-left-style: solid;
    margin: 0;
}

article h1 a{
    color: #fff;
    border-bottom: none;
}

article.content{
    margin-left: 10%;
    max-width: 680px;
}

article.content h1{
    font-size: var(--massive-font-size);
    letter-spacing: -6px;
    line-height: var(--massive-font-size);
    margin: 20px 0 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--accent-color);
    background-color: #fff;
    border-left: none;
}

article.content > p:first-of-type:first-letter{
    color: var(--bold-text-color);
    float: left;
    font-size: var(--massive-font-size);
    line-height: 0.7em;
    margin: 5px 10px 0 0;
    font-family: TE20L, helvetica, arial, sans-serif;
    font-weight: 400;
}

article footer a{
    font-size: var(--small-font-size);
    font-family: TE20T;
    text-transform: lowercase;
}

article figure{
    margin: 0;
    height: 200px;
}

article figure img{
    width: 100%;
    height: 100%;
}

article figure.red{
    background-color: var(--red);
}

article figure.green{
    background-color: var(--green);
}

article figure.yellow{
    background-color: var(--yellow);
}

article figure.blue{
    background-color: var(--blue);
}

@media handheld, only screen and (max-width: 985px), only screen and (max-device-width: 985px) {
    section.articles{
        flex-direction: column;
    }

    section.articles article{
        width: 100%;
    }
}

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    body {
        display: grid;
        grid-template-rows: 5fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main"
            "header"
            "footer";
    }

    main{
        margin: 10px;
        order:1;
        max-width: 100%;
    }

    header {
        margin: 10px;
        order: 2;
    }

    section.articles{
        flex-direction: column;
    }

    section.articles article{
        width: 100%;
    }

    footer ul.contact{
        position: relative;
    }
}

