@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Linq
@model IronBeard.Core.Features.Generator.ViewContext

@*META
Title: Home
*@

@{
    var contentToDisplay = Model.Children.Where(x => x.Metadata.ContainsKey("Tags"));
}


<!-- SUB ARTICLES -->
<h1>Latest</h1>
<section class="articles">
    <partial name="/partials/_articles.cshtml" model="contentToDisplay" />
</section>
