@using System.Linq
@model IronBeard.Core.Features.Generator.ViewContext

@*META
Title: Projects
*@

<section>
    <h1>Projects</h1>
    @foreach(var project in Model.Siblings.OrderBy(x => x.Metadata["SortOrder"])){
        <article>
            <h1><a href="@project.Url">@project.Metadata["Title"]</a></h1>
            @if(project.Metadata.ContainsKey("Description")){
                <p>@project.Metadata["Description"]</p>
            }
            <footer>
                <a href="@project.Url">Read More</a>
            </footer>
        </article>
    }
</section>
